<section class="articles-page">
  <h1>Tous les articles</h1>

  <div class="filters">
    <button (click)="filterByCategory('all')" [class.active]="selectedCategory === 'all'">
      Tous
    </button>
    @for (cat of categories; track cat.documentId) {
      <button (click)="filterByCategory(cat.slug)" [class.active]="selectedCategory === cat.slug">
        {{ cat.nom }}
      </button>
    }
  </div>

  <div class="articles-grid">
    @for (article of articles; track article.documentId) {
     <app-article-card [article]="article" />
    }
  </div>
</section>