<div class="pagination">
  <app-button 
    label="←" 
    variant="outline"
    [disabled]="currentPage === 1"
    (clicked)="goToPage(currentPage - 1)"
  />

  @for (page of pages; track page) {
    <app-button 
      [label]="page.toString()"
      [variant]="currentPage === page ? 'primary' : 'outline'"
      (clicked)="goToPage(page)"
    />
  }

  <app-button 
    label="→" 
    variant="outline"
    [disabled]="currentPage === pageCount"
    (clicked)="goToPage(currentPage + 1)"
  />
</div>