@if (article) {
  <article class="article-detail">
    <div class="article-header">
      <a [routerLink]="['/category', article.category?.slug]" class="category">
        {{ article.category?.nom }}
      </a>
      <h1>{{ article.titre }}</h1>
      <p class="date">{{ article.date | date:'longDate' }}</p>
    </div>

    @if (article.image?.url) {
      <img 
        [src]="'http://localhost:1337' + article.image.url"
        [alt]="article.image.alternativeText || article.titre"
        class="article-image"
      />
    }

    <div class="article-content" [innerHTML]="article.contenu | richText"></div>

   <div class="article-footer">
    <app-button label="← Retour aux articles" variant="outline" (clicked)="goBack()" />
   </div>
  </article>
} @else {
  <p>Chargement...</p>
}